# PLACE YOUR SUPABASE PROJECT URL AND ANON KEY HERE
NEXT_PUBLIC_SUPABASE_URL=xxx
NEXT_PUBLIC_SUPABASE_ANON_KEY=xxxx
NEXT_PUBLIC_WEBSITE_URL=http://localhost:3000

# PLACE YOUR POSTGRES DATABBASE UEL AND PASSWORD HERE
DATABASE_URL=xxxxx

# PLACE YOUR GOOGLE CLIENT ID AND SECRET HERE TO ENABLE OAUTH SOCIAL LOGIN (https://supabase.com/docs/guides/auth/social-login/auth-google)
GOOGLE_OAUTH_CLIENT_ID=xxxx
GOOGLE_OAUTH_CLIENT_SECRET=xxxx

# Place GITHUB client id and secret to easily enable github oauth login
GITHUB_OAUTH_CLIENT_ID=xxxxx
GITHUB_OAUTH_CLIENT_SECRET=xxxxx
# STRIPE PRICING TABLE PUBLIC KEY AND API
STRIPE_PRICING_TABLE_ID=xxxxx
STRIPE_PUBLISHABLE_KEY=pk_test_xxxxx
STRIPE_SECRET_KEY=sk_test_xxxx
